footer {
  display: flex;
  justify-content: center;
  color: white;
  background: #0d0d0d;
  text-align: center;
  align-content: center;

  .support {
    width: 100px;
    text-align: start;
    margin: 20px;
  }

  .contact-us {
    align-items: center;
    width: 300px;
    margin: 20px;
  }

  .delivery {
    width: 100px;
    text-align: end;
    margin: 20px;
  }

  h3 {
    margin: 10px 0 10px 0;
  }
}

.footer-copyright-text {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #0d0d0d;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}